/* Change header text to imported font */
  
  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  
  @import url('https://fonts.googleapis.com/css2?family=Quicksand:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: Raleway;
  color: #2C4A4A
}

h3 {
  color: #2C4A4A
}

h2 {
  color: #62CC33;
  font-family: Quicksand;
}

#col-sm-4 {
  min-height:500px; 
  border: 10px solid white; 
  padding: 10px; 
  border-radius: 20px; 
  background: #DDEDDD
}

.error {
  color: red;
}
